
.button {
  width: 250px;
  height:30px;
  padding-top:8px;
  padding-bottom: 8px;
  padding-left: 16;
  padding-right: 16;
  border-radius: 8px;
  border-color: var(--color-outline-variant);
  background-color: var(--color-background);
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  position: fixed;
  bottom : 20px;
  right: 20px;
}

.mainContainer {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.mainContainer > * {
  margin: 10px;
}

.answerBoxHeader {
  padding-top: 10px;
}

.answerBoxContainer {
  width: 400px;
  height: 300px;
  border-radius: 16px;
  border: 2px solid var(--color-outline-variant); 
  text-align: center;
  justify-items: center;
  padding-bottom: 10px;

  overflow-y: auto;
  scrollbar-width: thin;
}

.singleAnswerContainer {
  width: 370px;
  border-radius: 8px;
  border: 1px solid var(--color-outline-variant);
  text-align: start;
  justify-items: center;
  margin-top: 10px;
}

.answerParagraph {
  width: 330px;
  padding-top: 3px;
  padding-bottom: 2px;
}