.search_wrapper{
    position: relative; /* Needed for absolute positioned icons inside */
    width: 60vw;
    max-width: 80vw;
    height: 7vh;
    margin-top: 0.5vh;
}   

.search_input{
    width: 100%; /* Fit wrapper 100% */
    height: 100%;
    border: 0.15vw solid #455E91;
    border-radius: 6vh;
    padding: 0 4vw;
    font-size: 1.5vw;
    color: black;
    background-color: #f3f0f0;
    box-shadow: 0 0.3vh 1vh rgba(0, 0, 0, 0.3); /* Add shadow to searchbar */
    outline: none;
}

.icon_left{
    position: absolute; /* Allows manual positioning */
    left: 1.5vw;
    top: 50%;
    transform: translateY(-50%); /* Aligns icon 50% vertically */
    font-size: 1.8vw;
    color: #333;
}

.icon_right {
    position: absolute; /* Allows manual positioning */
    right: 1.5vw;
    top: 50%;
    transform: translateY(-50%); /* Aligns icon 50% vertically */
    font-size: 1.8vw;
    color: #333;
    cursor: pointer;
}